body {
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/image2.jpg");
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;

    
}

h1 {
    font-size: 3rem;
    margin-top: 2em;
}

section.hero {
    color: white;
    height: 90vh;
}

.more-info {
    width: 100%;
    object-fit: cover;
    height: 11em;

    .desc {
        line-height: 1.5rem;
    }
}
    

